    <section class="reviews" id="reviews" aria-labelledby="reviews-title">
      <img loading="lazy" decoding="async" class="reviews__ring reviews__ring--left" src="img/reviews/circle-text.svg" width="567" height="1137" alt="" aria-hidden="true">
      <div class="reviews__inner">
        <img loading="lazy" decoding="async" class="reviews__ring reviews__ring--right" src="img/reviews/star-ring.svg" width="246" height="278" alt="" aria-hidden="true">
        <h2 class="reviews__title" id="reviews-title">Влюбляем в китайский <br>и <span class="reviews__accent">помогаем преодолеть</span> сложности <br>в изучении языка</h2>

        <article class="review review--a">
          <h3 class="review__title">К нам идут <br>выпускники МГИМО</h3>
          <p class="review__text">Знал слова, читал иероглифы, сдавал экзамены&nbsp;— а&nbsp;свою фразу собрать не мог. Правила мне так и&nbsp;не объяснили. Здесь объяснили.</p>
          <img class="review__avatar" src="img/reviews/avatar-anton.webp" width="52" height="52" alt="" loading="lazy">
          <p class="review__name">Антон, 20 лет</p>
        </article>

        <img class="reviews__photo" src="img/reviews/photo.webp" width="329" height="329" alt="Студентка с учебником китайского на улице Киото" loading="lazy">

        <article class="review review--b">
          <h3 class="review__title">Интересная теория <br>и&nbsp;живая практика</h3>
          <p class="review__text">Объясняют грамматику простым языком и&nbsp;сразу закрепляют её в живых диалогах</p>
          <img class="review__avatar" src="img/reviews/avatar-kristina.webp" width="50" height="50" alt="" loading="lazy">
          <p class="review__name">Кристина, 24 года</p>
        </article>

        <article class="review review--d">
          <h3 class="review__title">Сдала HSK&nbsp;3</h3>
          <p class="review__text">Пришла в&nbsp;онлайн-школу «Тысяча ли» почти с&nbsp;нуля и&nbsp;боялась тонов. Произношение поставили с&nbsp;первых уроков, иероглифы объясняли через образы, а&nbsp;перед экзаменом разбирали реальные задания. HSK&nbsp;3 сдала с&nbsp;первой попытки, теперь готовлюсь к&nbsp;HSK&nbsp;4.</p>
          <img class="review__avatar" src="img/reviews/avatar-anna.webp" width="54" height="54" alt="" loading="lazy">
          <p class="review__name">Анна, 16 лет</p>
        </article>

        <div class="reviews__note">
          <img class="reviews__note-hanzi" src="img/reviews/note-hanzi.webp" width="167" height="186" alt="" aria-hidden="true" loading="lazy">
          <p class="reviews__note-text">Взрослые ведут переговоры без переводчика, дети сдают YCT и&nbsp;HSK</p>
          <a class="reviews__note-link" href="#lesson">Записаться</a>
        </div>
        <img loading="lazy" decoding="async" class="reviews__note-strokes" src="img/reviews/note-strokes.svg" width="23" height="22" alt="" aria-hidden="true">
        <img loading="lazy" decoding="async" class="reviews__note-underline" src="img/reviews/note-underline.svg" width="227" height="38" alt="" aria-hidden="true">
      </div>
    </section>
