        <ul class="stats{{mod}}">
          <li class="stats__item stats__item--1">
            <span class="stats__value">8 лет</span>
            <span class="stats__label">Школа работает с детьми и&nbsp;взрослыми</span>
          </li>
          <li class="stats__item stats__item--2">
            <span class="stats__value">600+</span>
            <span class="stats__label">Учеников успешно окончили обучение</span>
          </li>
          <li class="stats__item stats__item--3">
            <span class="stats__value">Любые экзамены</span>
            <span class="stats__label">HSK, HSKK, YCT, BCT, CSCA — готовим к&nbsp;любому из&nbsp;международных</span>
          </li>
          <li class="stats__item stats__item--4">
            <span class="stats__value">5+ лет в КНР</span>
            <span class="stats__label stats__label--sm">Все преподаватели имеют педагогический опыт, жили или живут в&nbsp;Китае.</span>
          </li>
        </ul>
